<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Datos</servlet-name>
        <servlet-class>servlets.Servlet_Datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>servlets.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Formulario</servlet-name>
        <servlet-class>servlets.Servlet_Formulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Menu</servlet-name>
        <servlet-class>servlets.Servlet_Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_VisualizarEstudiantes</servlet-name>
        <servlet-class>servlets.Servlet_VisualizarEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UpdateEstado</servlet-name>
        <servlet-class>servlets.Servlet_UpdateEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Correo</servlet-name>
        <servlet-class>servlets.Servlet_Correo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Facultad</servlet-name>
        <servlet-class>servlets.Servlet_Facultad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Datos</servlet-name>
        <url-pattern>/Servlet_Datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Servlet_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Formulario</servlet-name>
        <url-pattern>/Servlet_Formulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Menu</servlet-name>
        <url-pattern>/Servlet_Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_VisualizarEstudiantes</servlet-name>
        <url-pattern>/Servlet_VisualizarEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UpdateEstado</servlet-name>
        <url-pattern>/Servlet_UpdateEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Correo</servlet-name>
        <url-pattern>/Servlet_Correo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Facultad</servlet-name>
        <url-pattern>/Servlet_Facultad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
